<navbar></navbar>
<main>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>{{vm.title}}</h4>
        <table ng-if="vm.showTable" datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-striped table-bordered"></table>
      </div>
    </div>
  </div>
</main>
